:root {
    --background-color: lightgray;
    --dark-gray-color: rgb(150, 150, 150);
    --a-hover-color: rgb(100, 100, 100);
}

* {
    box-sizing: border-box;
    font-family: 'Noto Sans Mono', monospace;
}

.main {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 40vh 60vh;
}

.section-heading {
    margin-bottom: 0.5rem;
}

/* Sidebar */

.sidebar {
    background-color: var(--background-color);
    grid-row: 1/3;
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-links-container {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-left: 20%; */
}

.link-container a {
    font-size: 100%;
}

a:hover {
    cursor: pointer;
    color: var(--a-hover-color);
}


/* topSection (Reviews, Average Rating, Sentiment Analysis" */

.top-section {
    background: var(--background-color);
    margin: 10% 10% 10% 0;
    padding: 0 5%;
}


/* Sentiment Analysis */

.sentiment-analysis {
    display: grid;
    grid-template-rows: 2fr 3fr 2fr;
}

.sentiment-analysis-nums-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


/* Website Visitors */
.website-visitors {
    grid-column: 2/5;
    background-color: var(--background-color);
    /* what is margin % based on? */
    margin: 0 3.333% 3.333% 0;
    padding: 0 1.6777% 2% 1.6777%;
}

.website-visitors-inner-rect {
    background: var(--dark-gray-color);
    margin: 0 3% 3% 3%;
    height: 35vh;
}


/* numbers */

.big-num {
    font-size: 3vw;
    margin-top: 0;
}

.small-num {
    font-size: 2vw;
    margin: 0;
}

@media screen and (min-width: 1250px) {
    .sidebar {
        justify-content: flex-start;
    }

    .sidebar-links-container {
        margin-left: 20%;
    }

    .big-num {
        font-size: 2.4rem;
    }

    .small-num {
        font-size: 1.5rem;
    }
    
}